.card_component {
	background-color: #f5f5f5;
	display: grid;
	grid-template-rows: 1fr auto;
	height: 140px;
	width: 170px;
	border-radius: 12px;
	transition: ease 0.5s;
	cursor: pointer;
	text-decoration: none;
}

.card_component:hover {
	background-color: #c2c2c2;
}

.card_wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 20px;
}

.heading {
	align-self: flex-start;
	font-weight: 500;
}

.image_wrapper {
	align-self: flex-end;
	margin-top: 60px;
}
