.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.wrapper.open {
  display: flex;
}

.modal {
  width: 600px;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 16px;
}

.header {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 20px;
  align-items: center;
}

.title {
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
  margin-left: 35px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.closeButton {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--box-color);
  border-radius: 50%;
  cursor: pointer;
}
