.wrapper {
  padding: 20px;
  background-color: var(--box-color);
  border-radius: 10px;
}

.row {
  grid-template-columns: 100px repeat(4, 0.6fr);
  gap: 40px;
}

.name, .surname{
  font-weight: 600;
}