:root {
    --primary-color: #292d32;
    --text-color: #292d32;
    --text-color-muted: #787878;
    --secondary-text-color: #fcf5e5;
    /* --background-color: #f3f2ef; */
    --background-color: #fff;
    --bottom-color: #eae6e6;
    --box-color: #fff;
    --sidebar-color: #1d1d42;
    --max-content-width: 1140px;
    --control-height: 24px;
  }
   