:root {
    --primary-color: #292d32;
    --text-color: #292d32;
    --text-color-muted: #787878;
    --secondary-text-color: #fcf5e5;
    --background-color: #f3f2ef;
    --box-color: #eae9e6;
  
    --max-content-width: 1000px;
    --control-height: 38px;
  }
  