.tag {
  position: relative;
  padding: 6px 10px;
  display: inline;
  font-size: 10px;
  font-weight: 500;
  border-radius: 8px;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  background-color: var(--primary-color);
  opacity: 0.2;
}
