.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-right: 10px;
  width: 40px;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.subtitle {
  margin-top: 2px;
  font-size: 14px;
  color: var(--text-color-muted);
  line-height: 1;
}
